/* _content/DailyPoetryH.Library/Component1.razor.rz.scp.css */
.my-component[b-vhd02s5gxh] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
